title: "POINT-seq analysis"
subtitle: "A complete workflow for POINT-seq with pre-processing, reads alignemnt, and quality control"
intro_text: ""

module_order:
  - fastqc:
      name: "FastQC (raw)"
      anchor: "fastqc_raw"
      info: "This section shows FastQC results before adapter trimming."
      path_filters_exclude:
        - "*_val_1_fastqc.zip"
        - "*_val_2_fastqc.zip"

  - cutadapt
  - fastqc:
      name: "FastQC (trimmed)"
      anchor: "fastqc_trimmed"
      info: "This section shows FastQC results after adapter trimming."
      target: ""
      path_filters:
        - "*_val_1_fastqc.zip"
        - "*_val_2_fastqc.zip"

  - flash
  - star
  - featurecounts
  - biotype
  - preseq
  - samtools
  - rseqc

fn_clean_exts:
  - "_val_1"
  - "_val_2"
  - ".fastq.gz"
  - "Log.final.out"
  - "_SAMTOOLS_FLAGSTATS.txt"
  - "_SAMTOOLS_STATS.txt"
  - "_junction_annotation.log"
  - "_infer_experiment.log"
  - "_read_distribution.log"
  - "_inner_distance"
  - ".bam"

custom_data:
  biotype:
    file_format: "txt"
    section_name: "Biotype"
    description: "Represents the amount of reads mapped to each transcription unit class (biotype)"
    plot_type: "bargraph"
    pconfig:
      id: "biotype_bargraph"
      title: "Distribution of reads per biotype"
      ylab: "Sample"

sp:
  biotype:
    fn: "biotype_analysis*"
