/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for POINT-seq workflow
 * ----------------------------------------------------------------------------
 */
// Inspired in nf-core/rnaseq (at: 11 Nov 2022)

params {
  genome_fasta_spikeIn = ""
  anot_GTF_spikeIn = ""

  genomes {
    'homo_sapiens' {
      fasta = "https://ftp.ensembl.org/pub/release-108/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
      gtf = "https://ftp.ensembl.org/pub/release-108/gtf/homo_sapiens/Homo_sapiens.GRCh38.108.chr.gtf.gz"
    }

  }
}


executor {
  queueSize = 16
  cpus = 8
  memory = '120G'
  time = 1d
}

process {
  cpus = 8
  memory = '120G'
  conda =  "$projectDir/condaPOINTseq.yml"
  container = "rluis/point-seq:latest"
}


profiles {

    // Containers 
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }


    // Executors
    slurm{
        process.executor = 'slurm'
    }
}


