/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for POINT-seq workflow
 * ----------------------------------------------------------------------------
 */
// Inspired in nf-core/rnaseq (at: 11 Nov 2022)

executor {
  queueSize = 16
  cpus = 8
  memory = '32G'
  time = 1d
}

process {
  cpus = 8
  memory = '32G'
  conda =  "$projectDir/condaPOINTseq.yml"
  container = "rluis/point_seq:latest"
}


profiles {

    // Containers 
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }


    // Executors
    slurm{
        process.executor = 'slurm'
    }
}


